<div>
    <%if(page.title=='标签' || page.type=='tags'){%>
    <article class="post">
        <h3 class="post-head">共计<%- site.tags.length%>个标签</h3>
        <div class="post-body">
            <div class="widget">
                <div class="content tag-cloud">
                    <%- tagcloud({min_font: 14, max_font: 30, amount: 200}) %>
                </div>
            </div>
        </div>
    </article>
    <% } else if(page.title=='分类' || page.type=='categories') { %>
    <article class="post">
        <h3 class="post-head">共计<%- site.categories.length%>个分类</h3>
        <div class="post-body">
            <% site.categories.forEach(function (item) {%>
            <li class="post-items">
                <a href="/<%- item.path%>" title="<%- item.name%>" target="_blank">
                    <%- item.name%>
                </a>
            </li>
            <%})%>
        </div>
    </article>
    <% } else if(page.title=='关于' || page.type=='about') { %>
    <article class="post">
        <h3 class="post-head">联系</h3>
        <div class="post-body">
            <a href="https://github.com/LiZeB">GitHub</a>
        </div>
    </article>
    <% } else{ %>
        <%- partial('_partial/article', {post: page, index: false}) %>
    <%}%>
</div>