<% page.posts.each(function(post){ %>
<a href="<%- url_for(post.path) %>" class="article-container-href">
    <article class="post">
        <% if(post.img) { %>
        <div class="post-media">
            <img class="img-ajax" src="<%- url_for('/img/loading.gif') %>" data-src="<%- url_for(post.img) %>" alt="<%- post.title %>">
        </div>
        <% } %>
        <div class="post-content">
            <div class="post-head home-post-head">
                <h1 class="post-title">
                    <%- post.title %>
                </h1>
            </div>
            <p class="brief">
                <% if(post.excerpt) { %>
                <%= strip_html(post.excerpt) + '…' %>
                <% } else { %>
                <%= truncate(strip_html(post.content), {length: theme.excerptLength || 120, separator: ''}) %>
                <% } %>
            </p>
            <div class="post-meta"> <!-- &bull; -->
                <time class="post-date" datetime="" title="">
                    <%- date(post.date,"YYYY.MM.DD") %>
                </time>
                <% if(post.author) { %>
                    <span> , Write By <%- post.author %></span>
                <% } %>
            </div>
        </div>
    </article>
</a>
<% }) %>
<%- partial('_partial/pagination') %>