<% page.posts.each(function(post){ %>
<%
    var urls = lazyImage(post);
    var random = Math.floor(Math.random() * (urls.length));
    var _photoUrl = post.img || (urls2.length > 0 && urls2[random2]) || '';
%>
<a href="<%- url_for(post.path) %>" class="article-container-href">
    <article class="post">
        <% if(_photoUrl) {%>
            <div class="post-media">
                <img class="img-ajax" src="<%- url_for('/img/loading.gif') %>" data-src="<%- url_for(_photoUrl) %>" alt="<%- post.title %>">
            </div>
        <% } %>
        <% if(post.img) { %>
        <div class="post-media">
            <img class="img-ajax" src="<%- url_for('/img/loading.gif') %>" data-src="<%- url_for(post.img) %>" alt="<%- post.title %>">
        </div>
        <% } %>
        <div class="post-content">
            <div class="post-head home-post-head">
                <h1 class="post-title">
                    <%- post.title %>
                </h1>
            </div>
            <p class="brief">
                <% if(post.excerpt) { %>
                <%= strip_html(post.excerpt) + '…' %>
                <% } else { %>
                <%= truncate(strip_html(post.content), {length: theme.excerptLength || 120, separator: ''}) %>
                <% } %>
            </p>
            <div class="post-meta"> <!-- &bull; -->
                <% if(!is_category()){ %>
                <span class="categories-meta fa-wrap">
                    <i class="fa fa-folder-open-o"></i>
                    <%- list_categories(post.categories, {
                            show_count: false,
                            style: 'none',
                            separator: ' '
                        }) %>
                </span>
                <% } %>
                <% if(!is_tag()){ %>
                <span class="fa-wrap">
                    <i class="fa fa-tags"></i>
                    <span class="tags-meta">
                        <% if (post.tags && post.tags.length){ %>
                        <%- list_tags(post.tags, {
                                    show_count: false,
                                    style: 'none',
                                    separator: ' ',
                                    amount: 1
                                }) %>
                        <% } %>
                    </span>
                </span>
                <% } %>
                <time class="post-date" datetime="" title="">
                    <%- date(post.date,"YYYY.MM.DD") %>
                </time>
                <% if(post.author) { %>
                    <span> , Write By <%- post.author %></span>
                <% } %>
            </div>
        </div>
    </article>
</a>
<% }) %>
<%- partial('_partial/pagination') %>